<header>
    <nav class="header-nav">
        <a class="header-title" href="/app">Restaurant Management App</a>
        <ul>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/employees/new">Add Employee</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/menu/new">Add Dish</a></li>
            <li><a href="/bills">Bills</a></li>
            <li><a href="/bills/new">Add Bill</a></li>
        </ul>
    </nav>
</header>