<h2 class="page-header">Month: <%= month %></h2>

<br>

<table class="styled-table centered-container">
    <thead>
        <tr>
            <th>Month Income</th>
        </tr>
    </thead>
    <tbody>
        <div>
            <tr>
                <td> <%= income[0].income %> </td>
            </tr>
        </div>
    </tbody>
</table>